{% extends 'SamGunBundle:Default:index.html.twig' %}



{% block body %}
<div class ="container">
<section class="row">
<div class = "col-md-offset-2 col-md-6">

{% for Candidature in cand  %}
  {% for Poste in poste  %}
    {% if Candidature.remarque== NULL %}
    {% if Poste.metier== Candidature.nomduposte %}
    {% if Poste.gestionnaire==app.user.id %}
<section class="formation3" >

  <section class="row">



   <div class = "col-md-4">
   <p> nom:{{Candidature.nom}}</p>
   </div>




  </section>
<section class="row">
 <div class = "col-md-12">
 <p>prenom:{{Candidature.prenom}}<p>
 </div>

 <div class = "col-md-2">
 <p>diplome:<p>
 </div>
 <div class = "col-md-10">
 <p> {{Candidature.diplome}}</p>
 </div>
<div class = "col-md-2">
 <p>motivation:<p>
 </div>
 <div class = "col-md-10">
 <p> {{Candidature.motivation}}</p>
 </div>

<div class = "col-md-12">
<form method="post" action="/envoye/{{Candidature.id}}">

    <p>

        <label>Votre remarque</label> : <input type="text" name="pseudo" />

    </p>
    <input type="submit" value="Envoyer" >

</form>

</div>

</section>
</section >
<section class="row">
  <div class = "col-md-12">
  <p></p>
  </div>
</section >
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}


  </div>

  </section>
  </div>
{% endblock %}

