{% extends 'SamGunBundle:Default:index.html.twig' %}

{% block body %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sujet</th>
        <th>Messages</th>
        <th>Last_Message</th>
        <th>Creation</th>
      </tr>
    </thead>
    <tbody>
      {% for tp in Topics %}
      <tr>
          <td><a href = "/forum/topic/article/{{tp.id}}">{{ tp.titre }}</a></td>
          {% for m in Mess %}
            {% if m.id_topic == tp.id %}
              <td>{{ m.nb_messages }}</td>
              <td>{{ m.last_m|date("m/d/Y")}}</td>
            {% endif %}
          {% endfor %}
          <td>{{tp.dateHeure|date("F jS \\a\\t g:ia") }} by {% for u in User %}
              {% if tp.idCreateur == u.id %}
                {{u.username}}
              {% endif %}
              {% endfor %}
          </td>
      </tr>
      {% endfor %}
      <tr>
        <td><a href="/forum/topic/nouveau?categorie={{categorie}}">Créer un Nouveau Topic</a></td>
      </td>
    </tbody>
  </table>
</div>
{% endblock %}
